.main_container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.title {
	color: white;
	font-size: 10em;
	font-weight: bolder;
	text-decoration: underline;
	text-shadow: 0px 1px 2px black;
}

.butonStyle {
	font-size: 18px;
	border-radius: 5px;
	border: none;
	color: #fff;
	background-color: #985bda;
	padding: 15px 5px;
	margin-top: 30px;
	min-width: 220px;
	cursor: pointer;
}
.butonStyle:hover {
	background-color: #8644cc;
}
.linkStyle {
	color: #eee;
	text-decoration: none;
}
